# === Terraform ===
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
.crash/
.terraform/
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
*.log
*.env
.env
.env.*
.venv/
venv/
pip-wheel-metadata/
dist/
build/
.coverage
htmlcov/
.mypy_cache/
.pytest_cache/
.tox/
coverage.xml
.cache/
ipynb_checkpoints/
*.ipynb

# === .NET ===
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.log
*.vs/
*.vscode/
project.lock.json
project.fragment.lock.json
artifacts/
*.nupkg
*.snupkg
TestResults/
*.dbmdl
*.pdb

# === OS / Editor stuff ===
.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp
.idea/
.vscode/
*.code-workspace
